<div class="mt-4">
    <form method="post">
  <div class="form-group">
    <label for="sreach-input" class="form-label">Sreach</label>
    <input type="sreach" name="q" class="form-control" id="sreach-input" placeholder="Nhập từ khóa" aria-describedby="sreachHelp">
  </div>

  <div class="form-group">
    <label for="gender-input" class="form-label">Gender</label>
    <select name="gender" class="form-control" id="gender-input">
        <option value="--Chọn giới tính--"></option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>